.scroller{
  margin-top: 1em;
    height: 88vh;
    overflow: auto;
    overflow-x: hidden;
}

.listRow{
  height: fit-content;
}

@media screen and (max-width: 1400px) {
    .scroller{
        padding-right: 1em;
    }
}

/* width */
::-webkit-scrollbar {
  width: .75em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1em;
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #23372b; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}