.main {
    margin-top: 7em;
}

@media screen and (max-width: 1467px){
    .main{
        margin-top: 9em;
    }
}

@media screen and (max-width: 1199px) and (min-height: 700px) {
    .main{
        margin-top: 6.5em;
    }
}

@media screen and (max-height: 700px) and (max-width: 1199px) {
    .main{
        margin-top: 5.5em;
    }
}

.tabNav {
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: center;
    border-bottom-color: #99c2ff;
    flex-wrap: wrap;
}

.dailyNavLink {
    color: #99c2ff!important;
}

.tabNavbar {
    padding: 0em;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.toggleButton {
    padding: 0.5em;
    margin: 0.5em;
    margin-left: auto;
}

.navBrand {
    cursor: pointer;
    margin-left: 2em;
}

.navAbout {
    cursor: pointer;
    padding-right: 0;
    margin-left: 2em;
    margin-right: 2.5em;
}
