.centralize {
    justify-content: center;
    text-align: center;
}
.closeButton {
    position:absolute;
    margin-right: 1em;
    right: 0;
}

.textCenter {
    text-align: center;
}

.modalBg {
    background-color: rgb(33 37 41 / 90%);
    color:ghostwhite;
}