.dailyImg {
    height: 3.5em;
    width: 3em!important;
}

.dailyTitle {
    display: contents;
}

.dailyCard {
    background-color: rgb(33 37 41 / 90%);
    cursor: pointer;
    color:ghostwhite;
    margin-bottom: 1.5em;
}